.dark{
    background-color: #1f2937;
    border-bottom: -550px;
    margin-top: -21px;
    margin-left: -8px;
    margin-right: -8px;
    height: 500px;
    
.headerlogo{
    margin-top:-45px;
    padding-left:100px;
}
.center-links{
    text-align: right;
    margin-top:-5px;
    }

    .link1{ 
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 1em auto;
    padding-right: 2em;
    display: inline-block;
    width: 100px
    }        

.link2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;  
    padding-right: 2em;
    display: inline-block;
    }

.link3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    display: inline-block;
}

.headerlogo{
    color: rgb(12, 11, 11);
    font-family: #f9faf8;
    font-size:24px;
}

.Hero{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    font-weight: 800;
    display: inline-block;
    padding-left: 100px;
    inline-size:300px;
    padding-top: 100px;
    position: relative;
    

}
.hero2{
    font-size: 18px;
    color: #e5e7eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    inline-size: 400px;
    padding-left: 100px;
    position: relative;
    bottom: 50px;
}
.b1{
   position: relative;
   inline-size: 90px;
   left: 100px;
   bottom: 60px;
   background-color: #3882f6;
      display: block;
   text-align: center;
   color: white;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size:  16px;
   font-weight: bolder;
   width: 105px;
      padding: 8px 18px;
   border: 0;
   border-radius: 10%;
}

.randominformation{
    font-size: 36px;
    color:#1f2937;
    font-weight:bolder;
    font-weight:800;
    text-align: center;
    padding-top: 20px;
    position: static;
}

.ray{
    width: 400px;
    left: 250px;
    display: inline-block;
    position: relative;
    
}
.con1{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 265px
}
.edreed{
    width: 400px;
    position: relative;
    bottom: 320px;
    left: 680px;
    display: inline-block;
}
.con2{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 690px;
    bottom: 320px
}
.suggscontainer{
    display: grid;
    align-items: center;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    left: 1105px;
    bottom: 738px;
}
.suggspic{
width: 400px;
height: 269px;

}
.suggstext{
    position: relative;
    right: 398px;
    top: 160px;
    inline-size: 400px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quote{
    position: relative;
    text-align: left;
    right: 700px;
    top: 300px;
    inline-size: 780px;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.quote1{

}

.quotecontainer{
    color:black;
    padding: 500px;
    
    
}